body {
background-color: black;
color: whitesmoke;
}

.operation {
margin-top: 2rem;
display: flex;
justify-content: center;
width: 30rem;
gap: 4rem;
}

button {
width: 5rem;
height: 4rem;
color: black;
background-color: cornflowerblue;
cursor: pointer;
font-size: 2rem;
justify-content: center;
align-items: center;
}

input {
width: 15rem;
height: 3rem;
font-size: xx-large;
justify-content: end;
align-items: center;
background-color: cornflowerblue;
}

p {
font-size: xx-large;
margin-left: 2rem;
}

.equal {
margin-left: 2rem;
}